


.headerItem {
    background-color: var(--color-polis-primary-0);
    padding: 0.65rem 1rem;
    border-radius: 2px;
    cursor: pointer;
}

.headerItem:hover {
    background-color: var(--color-polis-primary-25);
}

.headerItem:active {
    background-color: var(--color-polis-primary-50);
    color: var(--chakra-colors-gray-600);
}

.headerItem.active {
    background-color: var(--color-polis-primary);
}

.headerItem.active:hover {
    background-color: var(--color-polis-primary-50);
    color: var(--chakra-colors-gray-600);
}

.headerItem.active:active {
    background-color: var(--color-polis-primary-25);
    color: var(--chakra-colors-gray-600);
}
